@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    background: #ebf2f8;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body {
    overflow: hidden;
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.container {
    width: 900px;
    padding: 10px 10px;
    margin: 100px auto;
}

.wrapper {
    padding-right: 30px;
    background: #fff;
    display: flex;
    flex: wrap;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper img {
    margin-left: 20px;
    padding: 100px 50px 100px 15px;
    background-color: #ebf2f8;
    border-radius: 5px;
}

.wrapper .title {
    margin-left: 20px;
    padding-top: 40px;
    font-weight: 200px;
    font-size: 20px;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 2px 25px 5px 25px;
}

.wrapper .row span {
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 100%;
    padding: 12px;
}

.wrapper form .row {
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    align-items: center;

}

.wrapper form .pass {
    margin: 8px 0 20px 0;
}

.wrapper form .pass a {
    color: rgb(201, 148, 252);
    font-size: 15px;
    text-decoration: none;
    position: relative;
    left: 170px;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .row input {
    height: 50px;
    width: 100%;
    outline: none;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    transition: all 0.3 ease;
    flex: 1;

}

.wrapper form .row i{
    position: absolute;
    width: 50px;
    height: 47px;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .row input:focus {
    border-color: skyblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form .row-button input {
    margin-left: 70%;
    color: #fff;
    font-size: 20px;
    border-radius: 2px solid;
    border: none;
    width: 100px;
    height: 50px;
    background: #00e759;
    margin-top: -10px;
    margin-bottom: 20px;
}
form .row-button input:hover {
    background: #00ad42;
}

.container .row-button2 input {
    margin-left: 77%;
    color: #fff;
    border-radius: 1px solid;
    border: none;
    border-radius: 2px;
    height: 40px;
    margin-top: 10px;
    background: rgb(201, 148, 252);
}

.container .row-button2 input:hover{
    background: rgb(172, 87, 252);

}

/* Media Queries for Tablet and Smartphone */

/* For Tablets */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 100px auto;
    }

    form .row-button input {
        margin-left: 90%;
    }

    .wrapper form .pass a {
        position: relative;
        left: 82%;

    }

    .container .row-button2 input {
        margin-left: 72%;
    }

    .wrapper img {
        display: none;
    }
}

/* For Smartphones */
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px 10px;
        margin: 100px auto;
    }

    form .row-button input {
        margin-left: 75%;
    }

    .wrapper form .pass a {
        position: relative;
        left: 60%;

    }

    .container .row-button2 input {
        margin-left: 45%;
    }

    .wrapper img {
        display: none;
    }
}